@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-tint-blue: #1c1e53;
  --color-primary-gray: #bbbbcb;
  --color-primary-accent: #bbbbcb;
  --color-primary-royal-blue: #2405f2;
  --color-primary-dark-blue: #282938;
}
@layer components {
  .wrapper {
    @apply w-5/6 flex justify-center items-center;
  }
}
